{% extends "public/base_template/public_template.html" %}

{% block title %}Helping Hands | Locality Resource Page{% endblock %}

{% block main %}

<div class="resource-container">
    <div class="resource-name">
        <h1>{{loc.Name}}</h1>
        <img src="{{loc.ImageURL}}" alt="">
    </div>

    <div class="resource-content">
        <div class="resource-info">
            <h5>Address: {{loc.Address}}</h5>
            <h5>Hours: {{loc.Hours}}</h5>
            <h5>Phone Number: {{loc.PhoneNumber}}</h5>
        </div>

        <div class="resource-risk">
            <h5>Currently Offering:</h5>
                <div class="services">
                    <ul>
                        {% for srvc in services %}
                            {% if loc[srvc] %}
                            <li>
                                {{srvc}}
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
        </div>

        <div class="resource-risk">
            {% if loc.AcceptingVolunteers %}
                <h5>Accepting Volunteers? <a style='color:green;'>Yes</a></h5>
                <h5><b>NOTICE</b> to Volunteers</h5>
                <textbox class='textbox'>{{loc.VolunteerNotice}}</textbox>
            {% else %}
                <h5>Accepting Volunteers? <a style='color:red;'>Not at this time</a></h5>
                <h5><b>NOTICE</b> to Volunteers</h5>
                <textbox class="textbox">Please check back in with us at a later date!</textbox>
            {% endif %}
        </div>

        <div class="resource-risk">
            <h5><b>NOTICE</b> to those Seeking Help</h5>
            <textbox class='textbox'>{{loc.HelpSeekerNotice}}</textbox>
        </div>

        <div class="resource-risk">
            {% if loc.ProvidesTransportation %}
                <h5>Provides Transportation? <a style="color:green;">Yes</a></h5>
            {% else %}
                <h5>Provides Transportation? <a style="color:red;">No</a></h5>
            {% endif %}
        </div>            

        <div class="resource-risk">
            <head>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            </head>
            <body>
                <h5>Is this location safe?  
                    <div class="like grow">
                        <button class="fa fa-thumbs-up like" type="submit" name="upsafe" style="background-color: white;" aria-hidden="true"></button>
                    </div>
                    <a>{{upsafe}}</a>
                    <div class="dislike grow">
                        <button class="fa fa-thumbs-down like" type="submit" name="downsafe" style="background-color: white;" aria-hidden="true"></button>
                    </div>
                    <a>{{downsafe}}</a>
                </h5>
                <h5>Is this location sanitary?  
                    <div class="like grow">
                        <button class="fa fa-thumbs-up like" type="submit" name="upclean" style="background-color: white;" aria-hidden="true"></button>
                    </div>
                    <a>{{upclean}}</a>
                    <div class="dislike grow">
                        <button class="fa fa-thumbs-down like" type="submit" name="downclean" style="background-color: white;" aria-hidden="true"></button>
                    </div>
                    <a>{{downclean}}</a>
                </h5>
                <h5>Is staff responsive?  
                    <div class="like grow">
                        <button class="fa fa-thumbs-up like" type="submit" name="upresp" style="background-color: white;" aria-hidden="true"></button>
                    </div>
                    <a>{{upresp}}</a>
                    <div class="dislike grow">
                        <button class="fa fa-thumbs-down like" type="submit" name="downresp" style="background-color: white;" aria-hidden="true"></button>
                    </div>
                    <a>{{downresp}}</a>
                </h5>
            </body>
        </div>

        <div class="resource-risk">
            <h5>Website Link: <a style="color:blue" target="_blank" href="{{loc.WebsiteLink}}">{{loc.WebsiteLink}}</a></h5>
        </div>
    
        <div class="resource-risk">
            <h5>Linked Organizations: </h5>
            <ul>
                {% if loc.OrganizationID %}
                    <li>{{orgs[0][0]}}</li> 
                {% else %}
                    <li>None</li>
                {% endif %}
            </ul>
            <h5>Linked Programs: </h5>
            <ul>
                {% if loc.ProgramID %}
                    <li>{{progs[0][0]}}</li>
                {% else %}
                    <li>None</li>
                {% endif %}
            </ul>
        </div>
    
        <div class="resource-risk">
            <h5><b>Forum</b></h5>
            <hr>
            <form>
                <div class="title-text">
                    <div id="user-title" class="title login">Post a Comment to the Forum</div>
                </div>
                <div class="form-inner">
                    <div class="field">
                        <input type="hidden" name="UserID" value="UserID">
                    </div>
                    <div class="field">
                        <input type="hidden" name="TimeStamp" value="TimeStamp">
                    </div>
                    <div class="field text-center">
                        <input type="text" size="47" placeholder="Comment" name='Comment' required />
                        <button class="forum-button" type="submit" style="display:inline">Post</button>
                    </div>
                </div>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>UserID</th>
                        <th>Date/Time</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for forums in forumposts|sort(attribute='TimeStamp', reverse = True) %}
                    <tr>
                        <td>{{forums[0]}}</td>
                        <td>{{forums[1]}}</td>
                        <td>{{forums[2]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
    </div>
</div>
{% endblock %}