{% extends "public/base_template/public_template.html" %}

{% block title %}Helping Hands | Organization Resource Page{% endblock %}

{% block main %}
<div class="content">
    {{org.Name}}
    <br>
    {{org.HQAddress}}
    <br>
    {{org.PhoneNumber}}
    <br>
    {{org.Hours}}
    <br><br>

    <b><a class='fs-5'>Services:</a></b><br>
    <!--services will be looped through and displayed-->
    <var>serviceName</var>: {{org.serviceName}}

    <br><br>
    {% if {{org.AcceptingVolunteers}} == True %}
        <b>Accepting Volunteers? </b><a style="color:green;"> Yes</a><br>
        <b>Notice to Volunteers</b><br>
        <textbox class='textbox'>{{org.VolunteerNotice}}</textbox><br>
    {% else %}
        <b>Accepting Volunteers?</b><a style="color:red;"> Not at this time</a><br>
        <b>Notice to Volunteers</b><br>
        <textbox class='textbox'>Please check back in with us at a later date!</textbox><br>
    {% endif %}
    
    <br><b>Notice to those Seeking Resources:</b><br>
    <textbox class='textbox'>{{org.HelpSeekerNotice}}</textbox><br><br>


    <b>Forum:</b><br>
    <!--forum posts will be looped through and displayed-->
    <div class="row">
        <div class="col">
            {{forum.UserID}}
        </div>
        <div class="col">
            {{forum.TimeStamp}}
        </div>
        <div class="col">
            {{forum.Comment}}
        </div>
    </div>
</div>
{% endblock %}