{% extends "public/base_template/public_template.html" %}

{% block title %}Helping Hands | Program Resource Page{% endblock %}

{% block main %}

<div class="resource-container">
   <div class="resource-name">
        <h1>{{prog.Name}}</h1>
        <img src="{{prog.ImageURL}}" alt="">
    </div>
   
   <div class="resource-content">
        <div class="resource-info">
            <h5>Description:</h5>
            <p>{{prog.Description}}</p>
        </div>

        <div class="resource-risk">
            <h5>Currently Offering:</h5>
                <div class="services">
                    <ul>
                        {% for srvc in services %}
                            {% if prog[srvc] %}
                            <li>
                                {{srvc}}
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
        </div>
    
        <div class="resource-risk">
            {% if prog.AcceptingVolunteers %}
                <h5>Accepting Volunteers? <a style='color:green;'>Yes</a></h5>
                <h5><b>NOTICE</b> to Volunteers</h5>
                <textbox class='textbox'>{{prog.VolunteerNotice}}</textbox>
            {% else %}
                <h5>Accepting Volunteers? <a style='color:red;'>Not at this time</a></h5>
                <h5><b>NOTICE</b> to Volunteers</h5>
                <textbox class="textbox">Please check back in with us at a later date!</textbox>
            {% endif %}
        </div>

        <div class="resource-risk">
            <h5><b>NOTICE</b> to those Seeking Help</h5>
            <textbox class='textbox'>{{prog.HelpSeekerNotice}}</textbox>
        </div>

        <!--Voting needs to display thumb up or thumb down. Should loop through all votes tied to this pageID-->
        <!--true => ++thumb up count-->
        <!--false => ++thumb down count-->
        <div class="resource-risk">
            <h5>Is staff responsive? <a>{{prog.Vote}}</a></h5>
        </div>

        <div class="resource-risk">
            <h5>Website Link: <a style="color:blue" target="_blank" href="{{prog.WebsiteLink}}">{{prog.WebsiteLink}}</a></h5>
        </div>

        <div class="resource-risk">
            <h5><b>Forum:</b></h5>
            <hr>
            <div class="forum-comment">
                <div class="forum-header">
                    <div class="forum-user-info">
                        <ul>
                            {{forumposts.UserID}}
                            {{forumposts.TimeStamp}}
                        </ul>
                    </div>
                    <div class="forum-content">
                        <textbox disabled cols="60" rows="5">{{forumposts.Comment}}</textbox>
                    </div>
                </div>
            </div>
        </div>    
   </div>
</div>
{% endblock %}